{% extends "layout.html" %}
{% block body %}
<h1>About Recipe Transformer</h1>
<p><strong>Recipe Transformer</strong> is a project for Professor Larry Birnbaum's EECS 337 course, <a href="http://eecs.northwestern.edu/eecs-337" target="_blank">Natural Language Processing</a> at Northwestern University. The idea is to try and take existing recipies and transform them using a series of lists, trying to make the computer "read" and "understand" the recipes itself.</p>
<p>To limit the scope of the project, we are presented with original recipes from <a href="http://www.allrecipes.com" target="_blank">allrecipes.com</a>.</p>
<h2>Development Team</h2>
<p>Monisha Appalaraju<br/>
Juliusz Choinski<br/>
Sam Elberts<br/>
Thomas Saxton</p>
{% endblock %}
